*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

$black: #333
$second: #85CDFD
$prime: #26AAE2
$prime_dark: #274E37

@font-face
    font-family: 'Gilroy'
    src: url('../fonts/Gilroy-Regular.woff') format('woff')
    font-weight: 400
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Gilroy'
    src: url('../fonts/Gilroy-Medium.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Gilroy'
    src: url('../fonts/Gilroy-SemiBold.woff') format('woff')
    font-weight: 600
    font-style: normal
    font-display: swap

body
    min-height: 100vh
    color: $black
    font-size: 14px
    background-color: #fff
    font-family: 'Gilroy', sans-serif
    scroll-behavior: smooth
    position: relative
    z-index: 1

    &.active
        overflow: hidden

h1
    font-size: 48px
    font-weight: 500
    line-height: normal
    margin: 0 0 30px

h2
    font-size: 40px
    font-weight: 500
    margin: 0 0 60px
    position: relative
    z-index: 1
    span
        color: #828282
        font-size: 20px
        font-weight: 400
        position: absolute
        right: 0
        top: 15px

    &.center
        text-align: center

h3
    font-size: 28px
    font-weight: 500

h4
    font-weight: 500
    font-size: 24px

h5
    font-weight: 500
    font-size: 20px

ol, ul
    padding: 0 0 0 20px
    li
        font-size: 16px
        font-weight: 400
        padding: 8px 0

ul
    li
        list-style: none
        background-image: url('../img/ic-ul.svg')
        background-repeat: no-repeat
        background-position: top 10px left
        background-size: auto 13px
        padding: 6px 0 6px 30px
        font-size: 18px

.container
    width: 100%
    padding: 0 20px
    max-width: 1640px
    margin: 0 auto

p
    font-size: 18px
    line-height: 130%

img
    max-width: 100%

a,
button
    color: $black
    text-decoration: none
    transition: all ease .3s
    background-color: transparent
    &:active
        transform: scale(.98)

    &:hover
        opacity: .8

section, .section
    padding: 90px 0
    position: relative

.btn,
.btn-outline,
.btn-black
    text-decoration: none
    display: inline-block
    vertical-align: middle
    text-align: center
    padding: 16px 28px
    border-radius: 20px
    font-size: 16px
    font-weight: 500
.btn
    color: white
    background-color: $prime

    &-outline
        border: 1px solid $prime
        background-color: #FFF
        color: $prime

    &-black
        color: white
        background-color: $black

    &-arrow
        color: $black
        font-weight: 500
        font-size: 16px
        display: inline-block
        padding: 10px 10px 10px 0
        &::after
            content: ''
            vertical-align: middle
            display: inline-block
            width: 24px
            height: 24px
            margin: 0px 0 3px 4px
            background-image: url('../img/arrow-down.svg')
            background-repeat: no-repeat
            background-position: center center
            transition: all ease .3s
        &.active
            &::after
                transform: rotate(180deg)

    &:hover
        opacity: 1
        box-shadow: 0px 15px 44px -10px rgba($prime, 0.6)

    &:active
        opacity: 1
        transform: scale(.95)

    &[disabled]
        color: rgba(0, 0, 0, .2)
        background-color: rgba($prime, .3)
        cursor: unset
        animation: none
        pointer-events: none
        box-shadow: none

.wrap
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

mark
    background: transparent
    color: $prime

.dropdown
    position: relative
    z-index: 1

    &-ol
        list-style-type: none
        padding: 0
        counter-reset: custom-counter
        .dropdown
            padding: 0
            &::before
                content: "0" counter(custom-counter) "."
                counter-increment: custom-counter
                display: inline-block
                font-size: 24px
                position: absolute
                top: 34px
                font-weight: 500
                left: 0
                z-index: 100

            &-btn
                padding-left: 136px
    &-ul
        padding: 0
        .dropdown
            padding: 0
            background: none
            &::before
                display: none

            &-content
                font-size: 16px

    &-btn
        border-top: 1px solid #E0E0E0
        text-align: left
        font-size: 24px
        font-weight: 500
        width: 100%
        padding: 33px 40px 33px 0
        position: relative
        &::after
            content: '+'
            transition: all ease .3s
            text-align: center
            position: absolute
            top: 28px
            right: 0
            border-radius: 50%
            background-color: $prime
            width: 40px
            height: 40px
            color: white
            font-size: 35px
        &:active
            transform: scale(.99)
        &.active
            border-color: $prime
            &::after
                transform: rotate(45deg)

    &-content
        display: none
        padding: 8px 40px 48px
        p
            max-width: 48%
            margin: 0 auto

        ul
            padding-left: 100px

        .wrap
            width: 100%
            p
                margin: 0

@media screen and ( max-width: 1600px )
    .container
        max-width: 1240px

    h1
        font-size: 40px

    ul, ol
        li
            font-size: 16px

    ul
        li
            padding: 4px 0 4px 30px
            background-position: top 7px left

    .dropdown
        &-btn
            font-size: 20px
            padding: 23px 40px 23px 0
            &::after
                width: 32px
                height: 32px
                font-size: 28px
                top: 20px

        &-ol
            .dropdown
                &::before
                    top: 23px

@media screen and ( max-width: 1200px )
    h1, h2
        font-size: 38px

    h3
        font-size: 24px

    h4
        font-size: 20px

    h5
        font-size: 18px

    section, .section
        overflow: hidden
        padding: 50px 0

@media screen and ( max-width: 920px )
    h2
        margin-bottom: 28px
        span
            position: static
            display: block
            padding: 8px 0 0
            font-size: 16px

        &.center
            text-align: left

    .dropdown
        &-btn

        &-ol
            .dropdown
                &::before
                    top: 24px
                    font-size: 20px

                &-btn
                    padding-left: 50px

                &-content
                    ul
                        padding: 0

        &-content
            padding: 0 0 33px
            p
                font-size: 16px
                max-width: 100%

            ul
                padding-left: 30px

            .wrap
                display: block
                p
                    margin-bottom: 10px
                    &:last-child
                        margin-bottom: 0

@media screen and ( max-width: 700px )
    h1, h2
        font-size: 28px

    .dropdown
        &-btn
            padding: 20px 45px 20px 0
            font-size: 16px
            &::after
                top: 15px

        &-ol
            .dropdown
                &-btn
                    padding-left: 35px
                &::before
                    top: 21px
                    font-size: 16px

    ol, ul
        li
            font-size: 14px
            padding: 6px 0
    ul
        li
            padding-left: 26px
