@import 'normolize'
@import 'elements'
@import 'slick'
@import 'header'
@import 'footer'

.main
    overflow: hidden
    margin: 0 auto
    width: 100%
    min-height: 914px
    max-height: 1080px
    position: relative
    z-index: 1
    &-content
        margin: auto
        transform: translateY(80px)

    &-img
        margin: 0 auto
        width: 668px
        max-width: 45%
        img
            width: 100%
            max-height: 70vh
            object-fit: contain
            display: block

    h1
        max-width: 520px

    p
        font-size: 20px
        max-width: 500px
        margin-bottom: 39px

    &-list
        width: 100%
        align-items: flex-start
        margin: auto auto 50px
        // padding: 0
        li
            min-width: 24%
            max-width: 25%

    &-scene
        position: absolute
        top: 0
        left: calc((100% - 1600px)/2)
        width: 100%
        height: 100%
        max-width: 1920px
        z-index: -1
        &__item
            display: inline-block
            position: absolute !important
            &:nth-child(1)
                top: 8% !important
                left: auto !important
                right: 13% !important

            &:nth-child(2)
                top: auto !important
                bottom: 20% !important
                left: auto !important
                right: 4% !important
                img
                    animation: circleAnim 12s linear infinite

            &:nth-child(3)
                bottom: 20% !important
                top: auto !important
                left: 40% !important
                img
                    animation: circleAnim 8s linear infinite reverse

            &:nth-child(4)
                width: 900px
                top: 5px !important
                left: 50% !important
                margin-left: -600px
                z-index: -1

            &:nth-child(5)
                top: 5% !important
                left: 42% !important
                img
                    display: block

.reclam
    &-slider
        overflow: hidden
        position: relative
        padding-bottom: 100px
        z-index: 1
        &::before
            content: ''
            display: block
            width: 48%
            height: 80%
            left: 0
            bottom: 0
            background-color: $prime
            z-index: -111
            position: absolute
            border-radius: 0px 300px 300px 0px

        &::after
            content: ''
            display: inline-block
            background-image: url('../img/lines-down.svg')
            background-size: contain
            background-repeat: repeat-y
            background-position: right bottom
            position: absolute
            bottom: 0
            right: 10%
            width: 28px
            height: 91px
            animation: lineAnim 3s linear infinite

        .slick-slide,
        .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"]
            opacity: 0

        .slick-center,
        .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"]
            opacity: 1

    &-controls
        bottom: 140px
        text-align: center
        position: absolute
        z-index: 333
        left: 50%
        width: 228px
        transform: translateX(100px)
        font-size: 16px
        font-style: normal
        font-weight: 400
        span
            font-size: 28px
            font-style: normal
            font-weight: 500

    &-img
        width: 45%
        img
            max-width: 100%
            display: block
            margin: 0 auto

    &__heading
        font-size: 28px
        font-weight: 500
        margin: 0 0 24px

    &__text
        font-size: 16px
        font-style: normal
        font-weight: 400
        margin: 0 0 40px

    &__subheading
        font-size: 20px
        font-style: normal
        font-weight: 500
        margin: 0 0 16px

    &-item
        width: 1600px
        max-width: 97vw
        display: flex !important
        position: relative
        z-index: 1
        padding: 0 20px

    &-content
        width: 520px
        max-width: 41%
        margin: 0 auto
        ul
            li
                list-style: disc
                background: none
                padding: 0
                font-size: 16px
                font-weight: 400
                line-height: 140%

.clients
    &-slider
        .slick
            &-arrow
                top: 50%
                margin-top: -20px
            &-prev
                left: -70px
            &-next
                right: -70px

    &-item
        width: 385px
        height: 210px
        margin: 0 10px
        display: flex !important
        align-items: center
        justify-content: center
        border-radius: 20px
        padding: 10px 20px 20px
        background-color: #F3F3F3
        text-align: center
        img
            display: block
            max-width: 70%
            max-height: 70%
            margin: 0 auto

    @media screen and ( max-width: 1700px )
        &-slider
            max-width: 1450px
            margin: 0 auto

        &-item
            height: 160px

.tab
    &-btn
        border-radius: 20px
        display: inline-block
        padding: 24px
        margin-bottom: 12px
        width: 33%
        font-size: 20px
        font-weight: 500
        border: 1px solid $prime
        color: $prime
        &.active
            background-color: $prime
            color: white

    &-content
        padding: 64px 77px 64px 58px
        align-items: flex-start
        border-radius: 20px
        background-color: #F2F2F2
        background-image: url('../img/price-bg.svg')
        background-repeat: no-repeat
        background-position: bottom left
        .col
            // max-width: 32%

    &__heading
        font-size: 24px
        font-style: normal
        font-weight: 500
        margin: 0 0 12px

    &__text
        font-size: 14px
        font-style: normal
        font-weight: 400

    &__price
        font-size: 24px
        font-style: normal
        font-weight: 600
        margin-bottom: 24px

.reviews
    &-slider
        // background-color: #F2F2F2
        position: relative
        z-index: 1
        &::before,
        &::after
            content: ''
            display: block
            height: 492px
            position: absolute
            top: 0
            right: 0
        &::before
            width: 100%
            z-index: -1111
            background-color: #F2F2F2
        &::after
            width: 50%
            border-radius: 300px 0px 0px 300px
            background-color: $prime
            z-index: -1

        .slick-slide,
        .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"]
            opacity: 0

        .slick-center,
        .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"]
            opacity: 1

    &-controls
        bottom: 280px
        text-align: center
        position: absolute
        z-index: 333
        left: calc((100% - 1248px)/2)
        width: 228px
        font-size: 16px
        font-style: normal
        font-weight: 400
        span
            font-size: 28px
            font-style: normal
            font-weight: 500

    &-item
        position: relative
        z-index: 1
        width: 1248px
        max-width: 100%
        // min-height: 615px
        display: flex !important
        justify-content: space-between
        padding-top: 30px
        margin: 0 40px

    &-content
        max-width: 420px
        padding: 73px 0 245px

    &__heading
        font-size: 28px
        font-weight: 500
        margin: 0 0 32px

    &__text
        font-size: 20px
        font-weight: 400
    &-img
        width: 432px
        // position: absolute
        // right: 0
        // top: 0
        img
            // width: 100%
            // height: 100%
            // object-fit: contain

@media screen and ( max-width: 1600px )
    .main
        height: unset
        min-height: 700px
        &-content
            transform: translateY(40px)
            margin: auto

        &-img
            img
                transform: none

        &-scene
            max-width: 1200px
            left: calc((100% - 1200px)/2)

            &__item
                &:nth-child(1)
                    right: 5% !important
                &:nth-child(2)
                    right: -10% !important
                    max-width: 150px
                &:nth-child(3)
                    left: 42% !important
                    max-width: 200px
                    bottom: 30% !important
                &:nth-child(4)
                    width: 600px
                    margin-left: -350px
                &:nth-child(5)
                    left: 45% !important

        &-list
            li
                min-width: unset
                font-size: 16px

    .reclam
        &-controls
            left: 50%
            transform: translateX(10px)

        &-item
            width: 1200px

    .clients

@media screen and ( max-width: 1200px )
    .main
        padding-top: 50px
        h1
            margin-bottom: 20px

        p
            max-width: 410px
            font-size: 18px
            margin: 0

        &-img

        &-content
            transform: none
            margin: 0 auto
            .btn
                display: none
        &-scene
            left: 0
            &__item
                &:nth-child(5)
                    left: 48% !important

    section
        display: none

    .reclam
        &-slider
            padding-bottom: 50px
            &::after
                right: 3%
        &-controls
            bottom: 80px

    #reclam, #stages, #faq
        display: block

@media screen and ( max-width: 920px )
    .main
        display: block

        &-content
            max-width: 520px
            margin-bottom: 480px

        &-list
            max-width: 520px
            display: block
            li
                max-width: 100%

        &-scene
            top: 28%
            &__item
                &:nth-child(1)
                    width: 77px
                    height: 77px
                    right: 8% !important
                    top: 1% !important
                &:nth-child(2)
                    display: none !important

                &:nth-child(3)
                    width: 179px
                    height: 179px
                    top: 25% !important
                    right: 60% !important
                    left: auto !important

                &:nth-child(4)
                    top: 8% !important
                    left: auto !important
                    right: 0 !important
                    width: 532px
                    max-width: unset
                &:nth-child(5)
                    width: 320px
                    max-width: 100%
                    top: 5% !important
                    left: 50% !important
                    margin-left: -160px

    .reclam
        &-slider
            padding-bottom: 50px
            &::before,
            &::after
                display: none

        &-controls
            min-height: 40px
            padding-top: 4px
            transform: none
            width: 550px
            max-width: 90%
            position: relative
            bottom: auto
            left: auto
            text-align: center
            margin: 0 auto

        &-img
            width: 100%
            padding: 0 20px 32px
            margin-bottom: 32px
            position: relative
            &::before
                content: ''
                display: block
                width: 90%
                height: 80%
                left: 0
                bottom: 0
                background-color: $prime
                z-index: -111
                position: absolute
                border-radius: 0px 300px 300px 0px
            img
                width: 500px
                margin: 0 auto

        &-content
            padding: 0 20px
            width: 100%
            max-width: 500px

        &-item
            max-width: 100vw
            padding: 0
            display: block !important

@media screen and ( max-width: 700px )
    .main
        h1
            margin-bottom: 16px

        p
            font-size: 16px

    .reclam
        &-slider
            padding-bottom: 40px
        &__heading
            font-size: 24px
            margin-bottom: 16px
        &__text
            font-size: 16px
            margin-bottom: 32px

@keyframes lineAnim
    0%
        background-position: center 0
    100%
        background-position: center 91px

@keyframes circleAnim
    0%
        transform: rotate(360deg)
    100%
        transform: rotate(0)
